@import "tailwindcss";

@theme {
  --background: #fff8ec;
  --foreground: #393939;
  --base-blue: #3a7298;
  --highlith-blue: #2c9cff;
  --dark-blue: #005095;
}

body {
  background: var(--background);
}
