@import "tailwindcss";

@theme {
  --color-background: #fff8ec;
  --color-foreground: #393939;
  --color-base-blue: #3a7298;
  --color-highlight-blue: #2c9cff;
  --color-dark-blue: #005095;
}

body {
  background: var(--color-background);
}
